server {
    listen 80;

    #
    # This server_name will be your domain for your web application
    # It should be mapped on docker-compose extra_hosts attribute
    # and added on your host machine 
    # Linux --> /etc/hosts
    # Windows --> C:/Windows/System32/drivers/etc/hosts 
    #
    server_name     symfony.example.com symfony.example.dev;

    #
    # This root is your directory on container which is /var/www/{folder_name_from_host}
    # folder_name_from_host is used since your host projects folder will be mounted on
    # your container
    #
    root    /var/www/symfony-example/public;
    index index.php app.php app_dev.php;
  
    location / {
        try_files $uri /app_dev.php$is_args$args;
    }

    location ~ ^/(app_dev|config)\.php(/|$) {
        fastcgi_pass php-fpm:9000;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
        include fastcgi_params;
    }

    location ~ ^/app\.php(/|$) {
        fastcgi_pass php-fpm:9000;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
        include fastcgi_params;
        internal;
    }

    location ~ \.php$ {
        return 404;
    }
}
