#
# The MySQL database server configuration file.
#
# This will be copied on your MariaDB container to control the configuration from the host machime:
# 
# Please don't modify unless knowledgeable with MySQL and Docker

[mysqld]
max_allowed_packet=1000M
lower_case_table_names=2